.button{
  background-color: hsl(200, 100%,50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

}
.student{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
}
.student p{
  margin: 0;
}
.welcome-message{
  font-size: 2.5em;
  background-color: blue;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login{
  font-size: 2.5em;
  background-color: red;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: aquamarine;

}
.list-items li{
  font-size: 2em;
  list-style: none;
  color: black;
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: rgba(226, 226, 11, 0.914);
  cursor: pointer;
}